{% extends 'base.html' %}

{% block content %}
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <form class="form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Password reset complete</h1>
                <p>You password has benn set.You go ahead and log now</p>

                <a href="{% url 'login' %}" class="btn btn--sub btn--lg my-md">Back to Login</a>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
