{% extends 'base.html'%}

{% block content %}

    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'login'%}">
                    <i class="bi bi-arrow-left"></i>
                </a>
                <br>

                <form class="form" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                        <div style="margin: 10px;" class="form__field">
                        <label  for="email_{{field.name}}">{{ field.name }} </label>
                        <input class="input input--text" type="email" name="email" maxlength="254 " id="email">
                        </div>
                    {% endfor %}
                    <button class="btn btn--sub btn--lg  my-md" type="submit">Send email</button>
                </form>
            </div>
        </div>
    </main>

{% endblock content %}
